.section.be-member{
    .col.img{
        img{
            width: 100%;
    
        }
    }
    .col.typography{
        padding-left: 2em;
        .member-item{
            border-left: .2em solid var(--primary-color);
            margin-bottom:  .6em;
            padding-left: .2em 0 .2em .6em;
            color: var(--text-light);
            font-weight: bold;
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationDuration(.5s) slideInRight forwards;
            @for $i from 2 through 7 {
                &:nth-child(#{$i}){
                    animation-delay: #{$i * .2}s; 
                }
            }
    
    
    
        }
        .button{
            margin-top:.74em;
    
    
        }
    }
    }