:root{
    --background-color:#fff;
    --background-light: #fff;
    --shadow-color:rgba(0,0,0255,0.2);
    --primary-color:rgb(21, 198, 77);
    --text-color:#41f210;
    --text-light:hsl(0, 0%, 34%);
    --font-size: 20px;
    --animation-speed:0.8;
}

@function getAnimationDuration($duration: number){
    @return calc($duration * var(--animation-speed));
}

*{
    margin: 0 ;
    padding:0;
    box-sizing: border-box ;
}

body{
    font-size: var(--font-size);
    font-family: 'Playfair Display', serif;
    padding-top:54px;
    background-color: var(--background-light);

}
a{
    text-decoration: none;
}
img{
    object-fit: cover;
}





.btn{
    border:none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: .76em 1em;
    text-transform: uppercase;
    font-size: 1.0em;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
    box-shadow: 0 2px 6px var(--shadow-color);
    &:hover{
        box-shadow: 0 1px 4px var(--shadow-color);
    }

}


.custom-image{
    background-color: #41f210;
    height: 0;
    width: 100%;
    padding-top: 80%;
    position:relative;
    img{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;


    }


}

@import "partials/navbar.scss";

.section{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    margin-bottom: 4vw;
    &.d-block{
        display: block;

    }
    .col{
        width:50%;
    }
    .title{
        color:var(--text-color);
        font-size: 2.4em;
        margin-bottom: .24em;
        font-weight: 800;
    }
    .info{
        color:var(--text-light);
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 1.2;
        margin-bottom: 1.24em;


    }
    .col{
        width:50% ;
    }
}
@import "partials/hero-section";



@import "partials/be-member-section";

@import "partials/quote-section";

@import "partials/chef-section";
@import "partials/previous-search";

.options-container{
    box-shadow: 0 5px 10px var(--shadow-color);
    padding: 1em;
    border-radius: 5px;
    border-left: .5em solid var(--primary-color);
    background-color: var(--background-light);
    margin-top: 1em;
    display: flex;
    gap: 1em;
    .option{
        height: 3.5em;
        width: 3.5em;
        box-shadow: 0 3px 6px var(--shadow-color);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.light{
            background-color: #fff;
        }
        &.dark{
            background-color: rgb(29, 29, 29);
        }
        .check{
            height: 2.5em;
            width: 2.5em;
            background-color: var(--primary-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 5px var(--shadow-color);
            svg{
                height: 1.5em;
                width: 1.5em;
            }
        }
    }
    .btn span{
        display: inline-block;
        margin-left: .5em;
    }
}
.d-block h2{
    font-size: 1.75em;
    color: var(--text-color)
}





@import "partials/footer.scss";
@import "partials/menu";


.main{

    padding-block:4vw;
}
.container {
    padding-inline: 24vw;

}
@import "partials/animations.scss";

@media screen  and (max-width: 1280px) {
   .container{
    padding-inline: 18vw;

   }
}

@media screen  and (max-width: 1050px) {
    .container{
     padding-inline: 12vw;
 
    }
 }
@media screen  and (max-width: 768px) {
    .navbar{
       .nav-links{
        display: none;
       }
       .sidebar-button{
        display: block;
       }
    }

    .section{
        .col{
            width: 100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;

        }
    }
    .member-item{
        display: inline-block;
        margin-right: 1em;
        margin-bottom: 0.74em;
    }
    .section.be-member .btn{
        display:block;
        margin-left: 50%;
        transform: translateX(-50%);

    }
    .chef-card{
        box-shadow: 0 4px 10px var(--shadow-color);
    }
    .container{
        padding-inline: 6vw;
    
       }
    .footer{
        grid-template-columns: repeat(4, 1fr);
        .footer-section:nth-child(1){
            grid-column: span 4;
        }
        .footer-section:nth-child(1), .footer-section:nth-child(2), .footer-section:nth-child(3){
            grid-column: span 2;

        }
    }
}


@media screen  and (max-width: 480px) {
    .container{
     padding-inline: 4vw;
 
    }
 }