:root{
    --background-color:#fff;
    --background-light: #fff;
    --shadow-color:rgba(0,0,0255,0.2);
    --primary-color:rgb(21, 198, 77);
    --text-color:#41f210;
    --text-light:hsl(0, 0%, 34%);
    --font-size: 20px;
    --animation-speed:0.8;
}

*{
    margin: 0 ;
    padding:0;
    box-sizing: border-box ;
}

body{
    font-size: var(--font-size);
    font-family: 'Playfair Display', serif;

}
a{
    text-decoration: none;
}

.navbar{
height: 56px;
box-shadow: 0 4px 6px var(--shadow-color);
background-color: var(--background-color);
color: var(--text-color);
display: flex;
justify-content: space-between;
align-items: center; 
.logo{
    font-size: 1.5em;
    font-weight: bolder;
    color:var(--primary-color);
    text-shadow:0 1px 3px var(--shadow-color);
    span{
        color:var(--text-color);

    }
}
    
  .nav-links{
    a{
        margin-left:2em;
        color:var(--text-light);
        letter-spacing: 1px;
        text-transform: uppercase;
        position: relative;
        &::before{
            content:'';
            display: inline-block;
            height: 2px;
            width:100%;
            background-color: var(--primary-color);
            position: absolute;
            bottom: -6px;
            left:0;
            transform:scaleX(0);
            transition: transform calc(var(--animation-speed)*0.3s) ease-in-out;


            
        }

        &:hover{
            &::before{
                transform: scaleX(1);
            }
        }
        &:active{
            color:var(--primary-color);
            
        }
        
        
        }
    }
  }





.container {
    padding-inline: 16vw;

}