:root{
    --background-color:#fff;
    --background-light: #fff;
    --shadow-color:rgba(0,0,0,0.2);
    --primary-color:#0xFF66BB6A;
    --text-color:#fff;
    --text-light:#575757;
    --font-size: 18px;
    --animation-speed:1;
}

*{
    margin: 0 ;
    padding:0;
    box-sizing: border-box ;
}

body{
    font-size: var(--font-size);

}
.navbar{
height: 56px;
box-shadow: 0 4px 6px var(--shadow-color);
background-color: var(--background-color);
color: var(--text-color);

}